/* General Styles for SignIn Page */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 40px;
  box-sizing: border-box;
  background-image: url('/src/assets/images/IMG_7382.PNG');
  background-size: cover; /* Cover the entire page */
  background-position: center;
}

/* Header Styling */
.header {
  font-size: 36px;
  color: #f9f1f1;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

/* Form container */
.form {
  width: 100%;
  max-width: 400px;
  background-color: white;
  padding: 40px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  text-align: center;
}

.inputContainer {
  margin-bottom: 20px;
}

/* Input label styling */
.label {
  font-size: 16px;
  font-weight: 500;
  color: #666;
  margin-bottom: 8px;
  text-align: left;
}

/* Input field styling */
.input {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  color: #333;
  background-color: #f9f9f9;
  border: 2px solid #ddd;
  border-radius: 6px;
  box-sizing: border-box;
}

.input:focus {
  border-color: #ff4e7d; /* Tinder-like red/pink */
  background-color: #fff;
  outline: none;
}

.input::placeholder {
  color: #bbb;
}

/* Sign In Button */
.button {
  width: 100%;
  padding: 14px;
  font-size: 18px;
  color: white;
  background-color: #ff4e7d; /* Tinder-like red/pink */
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

.button:hover {
  background-color: #ff3b64; /* Darker red/pink on hover */
}

/* Message displayed if there's an error or info */
.message {
  color: #e41e7f;
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
}

/* Link to Sign Up page */
.buttonContainer {
  margin-top: 10px;
}

.buttonContainer .button {
  background-color: #0b63e1; /* Blue for 'Sign Up' */
  margin-top: 20px;
}

.buttonContainer .button:hover {
  background-color: #3b7bd6; /* Darker blue on hover */
}

/* Responsive Design */
@media (max-width: 480px) {
  .header {
    font-size: 28px;
  }

  .form {
    width: 90%;
  }
}
