body {
  background-image: url('/src/assets/images/linkup.jpg'); /* Replace with your image path */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; /* Full viewport height */
  margin: 0; /* Remove default margin */
}

.container {
  background-color: rgba(248, 209, 224, 0.8); /* Light pink background with some transparency */
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  margin: 180px auto; /* Center the container and add top margin */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.header {
  background-color: rgba(248, 209, 224, 0.8); /* Light pink background with some transparency */
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  margin: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form {
  width: 100%;
}

.inputContainer {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  margin-bottom: 5px;
  color: #d1006b;
}

.input {
  width: 80%;
  padding: 10px;
  border: 1px solid #ff6f91;
  border-radius: 5px;
  font-size: 16px;
}

.input:focus {
  border-color: #ff6f91;
  outline: none;
  box-shadow: 0 0 5px rgba(255, 111, 145, 0.5);
}

.button {
  background-color: #ff6f91;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 80%;
  margin: 0 auto;
  display: block;
  margin-top: 10px;
}

.button:hover {
  background-color: #ff4e7b;
}

.message {
  text-align: center;
  color: #d1006b;
  margin-top: 10px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
